.body{
    padding:25px;
    border:3px grey solid;
    margin-left:35%;
    margin-right: 35%;
    margin-top:13%;
    margin-bottom:8%;
    width:30%;
    height:50%;
    display:block;
    border-radius: 35px;
}
h2{
    color: rgb(238, 175, 58);
    font-size: 25px;
    text-align:center;
    font-weight: 700;
    font-size: 35px;
}
input{
    border:1px lightgrey solid;
    width:90%;
    height:2vw;
    margin-top:none;
    margin:1vw;
    border-radius: 10px;
}
button{
    border:1px rgb(238, 175, 58) solid;
    margin-left:35%;
    margin-right: 25% ;
    width:30%;
    height:2vw;
}